<ul class="nav navbar-nav">
  <li><a href="#"></a></li>
  <li class="dropdown mega-dropdown padding_icons">
    <a href="#how_to_play" class="white_text navbar-brand navbar-brand_tournament" data-turbo="false">
      <%= t('login.how_to_play') %>
    </a>

  </li>
</ul>