<div id="how_to_play" class="center-block">
  <div class="page-header ind-body match-result text-center padding-top-10 ">
    <h4 class="prediction-results">
      <%=t '.title', default: 'HOW TO PLAY' %>
    </h4>
  </div>

  <div class="margin center-block">
    <div class="container-fluid text-center team-details">
      <div class="row">
        <p>
          <h4 class="team_name_h4">HOW TO PLAY</h4>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class='team-font text-left'>
            1. Click on SignIn or Lets Predikt button to SignUp/SignIn.
          </p>
          <p class='team-font text-left'>
            2. On the home page you can see the Tournaments link in the top menu. Click on it and select the tournament (Dream11 IPL 2020).
          </p>
          <p class='team-font text-left'>
            3. Once you have selected the tournament, you can see the matches which you need to predict.
          </p>
          <p class='team-font text-left'>
            4. Click on the match, it will popup a screen and it will have the questions.
          </p>
          <p class='team-font text-left'>
            5. There are 8-10 questions (depends on the round). You need to predict the answer for each question and submit.
          </p>
          <p class='team-font text-left'>
            6. Higher the number of correct predictions will decide your chance of winning the game.
          </p>
          <p class='team-font text-left'>
            7. There is a point booster available before submitting it. You can select the checkbox to double up your points. For eg: If you have got 20 correct points, this will be doubled up to 40 points.
          </p>
          <p class='team-font text-left'>
            8. Only 5 point boosters are available for a user out of 56 league matches.
          </p>
          <p class='team-font text-left'>
            9. Points booster won't be available for knockout matches.
          </p>
          <p class='team-font text-left'>
            10. Click on the challenge name (For eg: IPL2020 - Match1) to see your predictions.
          </p>
          <p class='team-font text-left'>
            11. Once the challenge time ended, it will move to previous challenges.
          </p>
          <p class='team-font text-left'>
            12. Click on the challenge name (For eg: IPL2020 - Match1) in the previous challenges tab to see your total points.
          </p>
          <p class='team-font text-left'>
            13. Click on the match in the previous challenges tab to see your points for each question.
          </p>
          <p class='team-font text-left'>
            14. You cannot see other user's predictions until the challenge ends.
          </p>
        </div>
      </div>

      <div class="row">
        <p>
          <h4 class="team_name_h4">Rules</h4>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class='team-font text-left'>
            1. You need to predict the game, 10 minutes before it starts. For eg: If the match is going to start by 03:30 PM IST, you've time till 3.20 PM (IST). After that game will be locked.
          </p>
          <p class='team-font text-left'>
            2. You can predict the game after the Toss.
          </p>
          <p class='team-font text-left'>
            3. The time will not be extended even if the toss or the game is delayed due to rain or any other reasons.
          </p>
          <p class='team-font text-left'>
            4. If there are 2 games in a day, you need to predict the 1st game before 03:20 PM IST and the 2nd game before 07:20 PM IST.
          </p>
          <p class='team-font text-left'>
            5. If the game is abandoned, you need to select 'No Results' to get the point.
          </p>
          <p class='team-font text-left'>
            6. Admin has the privilege to change Rules/Questons at any time.
          </p>
          <p class='team-font text-left'>
            7. Admin's decision will be final. Please contact admin, if you have any disputes.
          </p>
        </div>
      </div>

      <div class="row">
        <p>
          <h4 class="team_name_h4">Questions</h4>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class='team-font text-left'>
            1. Strike Rate of the Top run-scorer - If multiple batsmen scored the same score, the winner is decided with the highest strike rate/lowest number of ball faced/most number of 4's/6's scored.
          </p>
          <p class='team-font text-left'>
            2. Highest individual score - If multiple batsmen scored the same score, the winner is decided with the lowest number of balls faced/most number of 4's/6's scored/highest % of the team total.
          </p>
          <p class='team-font text-left'>
            3. Most number of 4's/6's - If there are multiple batsmen hit the same number of 4's/6's, the winner will be decided with the lowest number of balls faced/highest strike rate/most runs scored/highest % of the team total.
          </p>
          <p class='team-font text-left'>
            4. Best Bowler of the match - If multiple bowlers got the same number of wickets, the winner is decided with the highest economy/highest strike rate/lesser number of bowls bowled.
          </p>
          <p class='team-font text-left'>
            5. Best Partnership - If multiple partnerships scored the same number of runs, the winner is decided with the highest strike rate/most number of 4's/6's scored/highest % of the team total.
          </p>
          <p class='team-font text-left'>
            6. Admin's decision will be final.
          </p>
        </div>
      </div>

      <div class="row">
        <p>
          <h4 class="team_name_h4">Points</h4>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class='team-font text-left'>
            1. There are 8 questions for each match in the league stages.
          </p>
          <p class='team-font text-left'>
            2. Total points are 30 for each match in the league stages.
          </p>
          <p class='team-font text-left'>
            3. For the correct prediction of the winner of the match you will get 10 points.
          </p>
          <p class='team-font text-left'>
            4. For the correct prediction of the man of the match you will get 5 points.
          </p>
          <p class='team-font text-left'>
            5. For the correct prediction of winning margin you will get 5 points.
          </p>
          <p class='team-font text-left'>
            6. For the correct predictions of the remaining questions you will get 2 points each.
          </p>
        </div>
      </div>

      <div class="row">
        <p>
          <h4 class="team_name_h4">Payment and Prize</h4>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class='team-font text-left'>
            1. You can predict the game by with or without the payment.
          </p>
          <p class='team-font text-left'>
            2. The prize will be given to the user who has done paid prediction.
          </p>
          <p class='team-font text-left'>
            3. For league matches, it is Rs.10 for each match.
          </p>
          <p class='team-font text-left'>
            4. You can pay the amount via GooglePay to the number '9986783907' and describe 'prediktnwin'.
          </p>
          <p class='team-font text-left'>
            5. The winning amount will be added to your balance.
          </p>
          <p class='team-font text-left'>
            6. You can see your balance in User Payments.
          </p>
          <p class='team-font text-left'>
            7. You can see the winners in the Winners List.
          </p>
          <p class='team-font text-left'>
            8. You can pay Rs.100 as a one-time payment and you will get the chance to predict 11 matches instead of 10.
          </p>
          <p class='team-font text-left'>
            9. For each match, you have a chance to win 50% of the total amount (Maximum up to Rs.100) from that game.
          </p>
          <p class='team-font text-left'>
            10. Remaining amount will be moved and will be given to the final winners from the Leaderboard.
          </p>
        </div>
      </div>

      <div class="row">
        <p>
          <h4 class="team_name_h4">Leaderboard</h4>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class='team-font text-left'>
            1. Click on the leaderboard to see your total points in a tournament.
          </p>
          <p class='team-font text-left'>
            2. You can sort the leaderboard based on various fields available on the page.
          </p>
          <p class='team-font text-left'>
            3. The total points - The total points you've earned in the prediction game.
          </p>
          <p class='team-font text-left'>
            4. The Paid points - The total points you've earned in paid predictions.
          </p>
          <p class='team-font text-left'>
            5. You can see the number of matches predicted, no of matches you got full points, your prediction percentage, etc from the leaderboard.
          </p>
        </div>
      </div>

      <div class="row">
        <p>
          <h4 class="team_name_h4">Fan Club</h4>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class='team-font text-left'>
            1. Add your Fan Club with your favourite team.
          </p>
          <p class='team-font text-left'>
            2. Once you logged in, click on your user name and click on the link 'Select Favourite Team'
          </p>
          <p class='team-font text-left'>
            3. Choose your favourite team and then submit it.
          </p>
          <p class='team-font text-left'>
            4. You cannot edit your favourite team once you selected it.
          </p>
          <p class='team-font text-left'>
            5. GoTo Fan Club and see your team points.
          </p>
          <p class='team-font text-left'>
            6. Once you click on your user name, you can see your team fan club link and click on the link to see the members of your team.
          </p>
        </div>
      </div>

    </div>
    <hr />
    <div class="clear: both"></div>
  </div>
</div>
