<ul class="nav navbar-nav">
  <li><a href="#"></a></li>
  <li class="padding_icons">
    <a class="white_text navbar-brand navbar-brand_tournament" href="#signup" data-toggle="modal" data-target=".bs-modal-sm" data-turbo="false">
      <%= t('login.sign_in').upcase %>
    </a>

  </li>
</ul>
