<div class="modal-dialog" style='width:800px;'>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Questions</h4>
    </div>
    <div class="modal-body">
    <%= form_for :match_question, url: predict_match_tournaments_path, remote: true do |f| %>
      <%= render 'prediction_entry', f: f, match: match, challenge: challenge, page_from: 'prediction' %>
      <div class="actions">
        <%= f.submit current_user.submit_value(match), class: 'btn btn-primary', id:'challenge_form' unless match.started? %>
      </div>
    <% end -%>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div> -->
  </div>
</div>
<script type="text/javascript">
    $('.multi-select-players').multiselect({
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Select Players',
        numberDisplayed: 1,
        buttonWidth: '350px',
        maxHeight: 300
    });
</script>

