<div class="modal-dialog">
  <div class="modal-content">
    <h3> Match Points </h3>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Question </h4>
    </div>
    <div class="modal-body">
   	Coming Soon....
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
