// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bg_image {
  position: fixed; 
  top: 0; 
  left: 0; 
}

.fxd_position{
	position: fixed;
}