// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bg_image {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}
.margin{
	margin-left: -18%;
	margin-top: 2%;
}

.fxd_position{
	position: fixed;
}

.navbar-brand {
  background-size: 50px;
}

.navbar-brand_tournament {
  color: #FFF !important;
  font-weight: bold;
}

.navbar-brand_tournament:hover {
  color: #3A68B2 !important;
}

.predikt-logo {
  margin-top: -5px;
  padding: 1px 2px !important;
}

.mrgin{
  margin-top: 12%;
}

.add_opacity{
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

/*flash*/
.alert{
  margin-bottom: 0px !important;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

/*.nav-list { border-bottom: 1px solid #eee; }*/
.nav-list > li {
  padding: 20px 15px 15px;
  /*border-left: 1px solid #eee; */
}
/*.nav-list > li:last-child { border-right: 1px solid #eee; }*/
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  /*padding: 20px 15px 15px;*/
  text-align: center;
  width: 100%;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  width: 100%;
  height: auto;
  opacity:0.8;
  position: fixed;
  top: 0;
  left: 0;
}

.background-white {
  background-color: #FFF;
}

.padding_icons {
  float: left;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.prediction-results {
  font-weight: bold;
}

.prediction-results, .white_text {
  color: #FFF;
}

.footer_p {
  margin-right: 15px;
  margin-left: 15px;
  margin: 0 0 3px !important;
}

.top_men_bg_color {
  background-color: #090909 !important;
  opacity:0.8 !important;
}
