<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #000">
  <div class="container">
    <p class="navbar-text pull-left">
      &copy; 2018 Copyrights to Abhilash V. All rights reserved.
    </p>
  </div>
</div>
