<div style="clear: both; margin-bottom: 50px !important;"></div>
<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #000; margin-top: 3px;">
  <div class="container">
    <p class="navbar-text pull-left">
      &copy; 2018 All rights reserved.
    </p>
  </div>
</div>
