<div style="clear: both;"></div>
<div class="navbar-fixed-bottom black_color">
  <div class="container">
    <p class="pull-left footer_p">
      &copy; <%= t('footer.all_rights_reserved') %>
    </p>
  </div>
</div>
